.star-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    width: fit-content;
    /* padding: 0 5px; */
    
    
}



.stars{
    font-size: 3rem;
    cursor: pointer;
    padding: 0 3px;
}



.star-empty::before {
    content: '☆';   
}

.star-filled::before{
    content:'★';
    color: rgba(231, 198, 10, 0.685);
}